{% extends 'base.html' %}

{% block content %}
    {% if question_list %}
        <ul>
        {% for question in question_list %}
            <li>
                <a href="{% url 'spam:detail' question.id %}">{{ question.subject }}</a>
                {% if question.answer_set.count > 0 %}
                    <span class="text-danger small ml-2">{{ question.answer_set.count }}</span>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% else %}
        <p>번호가 없습니다.</p>
    {% endif %}

    <a href="{% url 'spam:question_create' %}" class="btn btn-primary">번호 등록하기</a>
{% endblock %}
